<h1>Update Awesome</h1>
<form *ngIf="updateForm" [formGroup]="updateForm" (ngSubmit)="update(id)">
  <table>
    <tr>
      <td>Tag:</td>
      <td><input type="text" size="60" formControlName="tag"></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td><input type="text" size="60" formControlName="url"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" size="60" formControlName="descriptions"></td>
    </tr>
    <tr>
      <td><button type="submit" class="btn btn-success">Update</button>
        <button routerLink="" class="btn btn-danger">Back</button></td>
    </tr>
  </table>
</form>

